body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #000;
    font-family: "Bitstream Vera Sans", Verdana, sans-serif;
}

img {
    border: 0;
}

div.crock-contents {
    background: #fff;
    margin: 0;
    padding: 2em;
    font-size: 90%;
}

.crock-nav li a,
.crock-nav li a:hover,
.crock-nav li a:visited,
.crock-nav li a:hover ,
.crock-toc li a,
.crock-toc li a:hover,
.crock-toc li a:visited,
.crock-toc li a:hover {
    border: 0;
    background: transparent;
    color: #139;
}

a {
    color: #139;
    text-decoration: none;
    padding: 1px;
    border: 1px dotted #00f;
}

a:hover {
    color: #fff;
    background: #139;
}

/*
a:visited {
    color: #939;
}
*/

.crock-toc {
    margin: 1em 0;
    padding: .1em;
    border-left: .5em solid #ddd;
}

.crock-toc li {
    padding: 0;
    margin: 0;
}

div.crock-title {
    margin: -1em -1em 0;
    font-size: 200%;
    font-weight: bold;
    background: #369;
    color: #fff;
    padding: .75em 1em;
    font-family: "BitStream Vera Sans", Verdana;
    letter-spacing: .1em;
    overflow: auto;
    /* border-bottom: 4px solid #f00; */
}

h1 {
    font-size: 180%;
    border-bottom: 2px solid #ccc;
}

h2 {
    font-size: 120%;
    border-bottom: 1px solid #ccc;
    padding: .2em;
}

h3 {
    font-size: 110%;
    border-bottom: 1px solid #eee;
}

tt {
    color: #00f;
}

.verbatim {
    margin: .5em 0;
}
pre {
    border: 1px solid #ccc;
    background: #eee;
    padding: .5em;
    overflow: auto;
}
.crock-verbatim pre {
    margin: 0;
}
.crock-verbatim-caption {
    border: 1px solid #ccc;
    border-bottom: 0;
    background: #fff;
    display: block;
    font-size: 80%;
    padding: .2em;
}

.crock-footnotes {
    font-size: 90%;
}
.crock-footnotes li {
    padding: .2em;
}

.crock-notice {
    text-align: right;
    color: #888;
    font-size: 70%;
}

.crock-nav {
    background: #ffc;
    border-bottom: 1px solid #ccc;
    font-size: 85%;
}
.crock-nav ul {
    margin: 0;
    padding: 1em;
}
.crock-nav li {
    margin: 0;
    padding: 0;
    padding-right: 2em;
    display: inline;
}

table {
    font-size: 100%;
    border-collapse: collapse;
    margin: .5em 0;
}

th, td {
    border: 1px solid #777;
    padding: .3em;
    margin: 2px;
}
th {
    background: #eee;
}

.crock-extra {
    background: #ff0;
    font-weight: bold;
}

/*
     FILE ARCHIVED ON 11:27:39 Dec 31, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:33:25 Nov 03, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 269.231
  exclusion.robots: 0.07
  exclusion.robots.policy: 0.06
  cdx.remote: 0.056
  esindex: 0.009
  LoadShardBlock: 237.183 (3)
  PetaboxLoader3.datanode: 351.388 (4)
  load_resource: 217.095
  PetaboxLoader3.resolve: 94.226
*/